# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore PyInstaller build folders
build/
dist/
*.spec

# Ignore app data
assets/password_data.json
assets/secret.key
